
<div class="row my-5">
  <div class="col-3">
    <nz-card style="width:200px;"  >
      <p  style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;">New Applications</p>
      <p style = "font-size: small;">Total Amount</p>
      <h6 style = "color: orange;">#78, 917,029.00</h6>
      <p style ="font-size: small;">Total Number of Applications</p>
      <h6>852</h6>
    </nz-card>
  </div>
  
  <div class="col-3">
    <nz-card style="width:200px;"  >
      <p  style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;">Processing</p>
      <p style = "font-size: small;">Total Amount</p>
      <h6 style = "color: orange;">#1, 910,000.00</h6>
      <p style ="font-size: small;">Total Number of Applications</p>
      <h6>852</h6>
    </nz-card>
  </div>

  <div class="col-3">
    <nz-card style="width:200px;"  >
      <p  style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;">Awaiting Disbursement</p>
      <p style = "font-size: small;">Total Amount</p>
      <h6 style = "color: orange;">#470, 000.00</h6>
      <p style ="font-size: small;">Total Number of Applications</p>
      <h6>852</h6>
    </nz-card>
  </div>

<div class="col-3">
    <nz-card style="width:200px;"  >
      <p  style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;">Ready For Disbursement</p>
      <p style = "font-size: small;">Total Amount</p>
      <h6 style = "color: orange;">#30,000.00</h6>
      <p style ="font-size: small;">Total Number of Applications</p>
      <h6>852</h6>
    </nz-card>
  </div>
</div>

<div class="row">
 

  <div class="col-6">
    <nz-card style="width:200px;"  >
      <p style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;">Target Position for April 2021</p>
      
      <p>Total Number of Applications</p>
    </nz-card>
  </div>

<div class="col-6">
    <nz-card style="width:500px;"  >
      <p style = "font-weight: bold; text-decoration: underline; font-style: italic; font-size: small;"> Disbursement Report(Post 4 Days)</p>
      <nz-table #basicTable >
        <thead>
          <tr>
            <th>Day</th>
            <th>Number Of Loans</th>
            <th>Amount</th>
            <th>Index</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>April 9, 2021</td>
            <td>100 Applicants</td>
            <td>000</td>
            <td>-100%</td>
          </tr>
          <tr >
            <td>April 6, 2021</td>
            <td>119 Applicants</td>
            <td>19,634,000.00</td>
            <td>-24.26%</td>
          </tr>
          <tr >
            <td>April 7, 2021</td>
            <td>152 Applicants</td>
            <td>26,130,000.00</td>
            <td>54.20%</td>
          </tr>
        </tbody>
      </nz-table>
      
    </nz-card>
  </div>
</div>